@font-face {
    font-family: "Integral";
    src: url(./../../fonts/Fontspring-DEMO-integralcf-regular.otf);
}

@font-face {
    font-family: "Satoshi";
    src: url(./../../fonts/Satoshi-Regular.ttf);
}